<div class="posts">
  <ion-item lines="none">
    <ion-avatar slot="start">
      <img src="" alt="" />
    </ion-avatar>
    <ion-label>
      <h3>{{ restaurante.fields.name }}</h3>
    </ion-label>
  </ion-item>

  <ion-slides pager="true">
    <ion-slide>
      <img src="{{ restaurante.fields.images[0].fields.file.url }}" />
    </ion-slide>
  </ion-slides>

  <ion-item lines="none">
    <ion-icon slot="start" name="map-outline"></ion-icon>
    <ion-icon slot="end" name="arrow-redo-outline"></ion-icon>
  </ion-item>

  <ion-item lines="none">
    <ion-label text-wrap> </ion-label>
  </ion-item>
</div>
